DonutHud {
    position: absolute;
    font-family: "Perfect DOS VGA 437 Win";
    width: 100%;
    height: 100%;
    z-index: 100;
    justify-content: space-between;
    font-smooth: never;
    pointer-events: all;

    > .left {
        flex-direction: row;
        align-items: flex-end;
        flex-shrink: 0;
        width: 400px;
        padding: 20px;
        font-size: 24px;
        color: white;

        > .current-song {
            flex-direction: column;
            align-content: center;
        }
    }

    > .right {
        flex-direction: column;
        flex-shrink: 0;
        width: 400px;
        padding: 20px;
        font-size: 24px;
        gap: 8px;

        > .bar {
            position: absolute;
            flex-direction: row;
            flex-grow: 1;
            color: white;
            bottom: 20px;
            right: 20px;
            align-items: center;

            > .IconPanel, i {
                cursor: pointer;
                font-size: 32px;
                padding-left: 14px;
                padding-right: 14px;
                transition: all 0.2s ease-out;

                &:hover {
                    opacity: 0.5;
                }
            }

            > .discord {
                cursor: pointer;
                height: 32px;
                width: 32px;
                padding-left: 14px;
                padding-right: 14px;
                transition: all 0.2s ease-out;
                background-image: url("ui/discord-mark-white.png");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                image-rendering: pixelated;

                &:hover {
                    opacity: 0.5;
                }
            }

            > .button {
                background-color: blue;
                border-width: 2px;
                padding: 8px;
                border-radius: 8px;
                cursor: pointer;
                width: 200px;
                flex-direction: column;
                transition: all 0.2s ease-out;
                text-align: center;
                justify-content: center;

                &:hover {
                    background-color: #333;
                }
            }
        }

        > .player-list {
            flex-direction: column;
            gap: 8px;
            overflow: scroll;
            flex-grow: 1;

            > .player-entry {
                border-width: 2px;
                background-color: blue;
                flex-direction: row;
                padding: 6px;
                margin-bottom: 5px;
                align-items: center;
                align-content: center;
                overflow: hidden;
                transition: all 0.1s ease-out;
                color: white;
                flex-shrink: 0;

                IconPanel, i {
                    font-size: 24px;
                }

                .kick {
                    cursor: pointer;
                    transition: all 0.2s ease-out;

                    &:hover {
                        opacity: 0.5;
                    }
                }

                .avatar {
                    min-width: 50px;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                }

                .name {
                    font-size: 24px;
                    font-weight: 500;
                    margin-left: 10px;
                    flex-grow: 1;
                }
            }
        }
    }
}

@keyframes rainbow-background {
    0% {
        background-color: mix(#ff0000, black, 0.8);
    }

    16.666% {
        background-color: mix(#ff7f00, black, 0.8);
    }

    33.333% {
        background-color: mix(#ffff00, black, 0.8);
    }

    50% {
        background-color: mix(#00ff00, black, 0.8);
    }

    66.666% {
        background-color: mix(#0000ff, black, 0.8);
    }

    83.333% {
        background-color: mix(#4b0082, black, 0.8);
    }

    100% {
        background-color: mix(#8f00ff, black, 0.8);
    }
}
