Donut {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  justify-content: center;
  align-items: center;
  pointer-events: all;

  .donut-canvas {
    width: fit-content;
    height: fit-content;
    font-family: "Public Pixel";
    font-size: 2.25vh;
    margin-bottom: 10vh;
    counter-reset: line-numbering;
    white-space: pre;
    word-break: inherit;
    word-wrap: inherit;
    overflow: scroll;
  }

  .counter {
    width: fit-content;
    height: fit-content;
    font-family: "Public Pixel";
    font-size: 24px;
  }

  .infobox {
    display: flex;
    flex-direction: row;
    white-space: pre;
    width: fit-content;
    height: fit-content;
    font-family: "Public Pixel";
    font-size: 15px;
    margin-top: 5vh;
    margin-right: 175px;

    .credits {
      display: flex;
      flex-direction: column;
      width: fit-content;
      height: fit-content;
      font-family: "Public Pixel";
      font-size: 15px;
      gap: -10px;
    }

    .instructions {
      display: flex;
      flex-direction: column;
      width: fit-content;
      height: fit-content;
      font-family: "Public Pixel";
      font-size: 15px;
      gap: -10px;
    }
  }
}
