@using Sandbox.UI
@using Sandbox.Network
@using Sandbox.Services
@using System
@using System.Threading.Tasks
@inherits PanelComponent
@namespace Donut.UI

<root>
    <div class="left">
        <div class="current-song">
            <div class="name">Now playing:</div>
            <div class="artist">@Donut.player.Title</div>
        </div>
    </div>
    <div class="right">
        <div class="player-list">
            @foreach (var player in NetworkManager.Players)
            {
                <div class="player-entry">
                    <img src=@($"avatar:{player?.SteamId}") class="avatar" />
                    <label class="name">@player?.GameObject.Name @($"\u2500") @player?.Time</label>
                    @if ((NetworkManager.Instance?.Host?.SteamId ?? 0) == (ulong)player?.SteamId)
                    {
                        <i>verified</i>
                    }
                    @if (PlayerController.Local.SteamId == 76561198842119514)
                    {
                        <i onclick="@( () => Kick(player.SteamId) )">close</i>
                    }
                </div>
            }
        </div>
        <div class="button" onclick=@( () => Donate() )>Donate?</div>
    </div>
</root>

@code
{
    public static DonutHud Instance;

    protected override void OnUpdate()
    {
        Instance = this;
    }

    [Broadcast]
    private void Kick(long steamid)
    {
        if (steamid != Game.SteamId) return;

        NetworkManager.Players.ForEach(player => player.GameObject.Destroy());
        NetworkManager.Instance.Connections.Clear();
        Chatbox.Instance.AddLocalMessage("🔌", "You have been kicked from the server. Maybe you did something wrong?", "notification");
        GameNetworkSystem.Disconnect();
    }

    private async void Donate()
    {
        if (!Game.ActiveScene.Components.TryGet<ScreenPanel>(out var panel) && panel?.GetPanel()?.ElementName != "monetization")
        {
            if (PlayerController.Local.DonatorPerk.Has())
            {
                Chatbox.Instance.AddLocalMessage("😔", $"You already own the donator perk!", "notification");
                return;
            }

            foreach (PanelComponent panelcomp in Game.ActiveScene.Components.GetAll<PanelComponent>().ToArray()) panelcomp.Panel.Style.PointerEvents = PointerEvents.None;

            await PlayerController.Local.DonatorPerk.Purchase();

            // thing we have to do until pointer event orders are fixed
            // https://github.com/Facepunch/sbox-issues/issues/5462
            Game.ActiveScene.Components.Get<ScreenPanel>().GetPanel().DeletionToken.Register( () =>
            {
                foreach (PanelComponent panelcomp in Game.ActiveScene.Components.GetAll<PanelComponent>().ToArray()) panelcomp.Panel.Style.PointerEvents = PointerEvents.All;
            } );
        }
        else
        {
            return;
        }
    }

    protected override int BuildHash() => HashCode.Combine(RealTime.GlobalNow);
}
