Donut {
  display: flex;
  font-smooth: never;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  justify-content: center;
  align-items: center;
  pointer-events: all;
  font-family: "Perfect DOS VGA 437 Win";

  .donut-canvas {
    width: fit-content;
    height: fit-content;
    font-size: 2.25vh;
    counter-reset: line-numbering;
    white-space: pre;
    word-break: inherit;
    word-wrap: inherit;
    overflow: scroll;
    margin-bottom: 15px;
  }

  .leaderboard {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: fit-content;
    justify-content: center;
    align-items: center;
    background-color: blue;
    border-width: 2px;
    padding: 3px;

    h1 {
      font-size: 32px;
    }

    .entries {
      flex-direction: column;
      width: 100%;
      font-size: 24px;

      .entry {
        justify-content: space-between;
        gap: 5px;
        width: 100%;
        padding: 2.5px;

        .rank {
          justify-content: flex-end;
        }

        .name {
          flex-grow: 1;
          gap: 5px;

          label {
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: fit-content;
          }
        }

        &.me {
          background-color: rgba(white, 0.1);
        }
      }
    }
  }

  .counter {
    width: fit-content;
    height: fit-content;
    font-size: 32px;
    margin-top: 20px;
  }
}
