@using Sandbox.UI
@using Sandbox.Network
@using Sandbox.Services
@using System
@inherits PanelComponent
@implements Component.INetworkListener
@namespace Donut.UI

<root>
    <div class="left">
        <div class="current-song">
            <div>Now playing:</div>
            <div>@Donut.MusicPlayer.Title</div>
        </div>
    </div>
    <div class="right">
        <div class="player-list">
            @if (GameNetworkSystem.IsActive)
            {
                @foreach (var player in Game.ActiveScene.GetAllComponents<Player>())
                {
                    <div class="player-entry">
                        <img src=@($"avatar:{player?.Network.OwnerConnection.SteamId}") class="avatar" />
                        <label class="name">@($"{player?.Network.OwnerConnection.DisplayName} \u2500 {player?.Time}")</label>
                        @if (player?.Components.Get<Voice>().Amplitude > 0.01f)
                        {
                            <i class="voice">mic</i>
                        }
                        else
                        {
                            <i class="voice">mic_off</i>
                        }
                        @if (Connection.Host == player?.Network.OwnerConnection)
                        {
                            <i class="host">verified</i>
                        }     
                        @if (Connection.Local.SteamId == 76561198842119514 && Connection.Local != player.Network.OwnerConnection)
                        {
                            <i class="kick" onclick=@(() => GameManager.Kick(player.Network.OwnerConnection.SteamId))>close</i>
                        }
                    </div>
                }
            }
        </div>
        <div class="bar">
            <i class="credits" onclick=@(() => Game.Overlay.ShowPackageModal(Game.Ident))>info</i>
            <div class="discord" onclick=@CopyDiscord />
            <i class="settings" onclick=@Game.Overlay.ShowBinds>settings</i>
            <div class="button" onclick=@Donate>Donate?</div>
        </div>
    </div>
</root>

@code
{
    private async void Donate()
    {
        if (Player.Local.DonatorPerk.Has())
        {
            Chatbox.Instance.AddLocalMessage("😔", $"You already own the donator perk!", "notification");
            return;
        }

        // thing we have to do until pointer event orders are fixed
        // https://github.com/Facepunch/sbox-issues/issues/5462
        Game.ActiveScene.Components.GetAll<PanelComponent>().ToList().ForEach(p => p.Panel.Style.PointerEvents = PointerEvents.None);

        await Player.Local.DonatorPerk.Purchase();

        // ditto
        Game.ActiveScene.Components.Get<ScreenPanel>().GetPanel().DeletionToken.Register(() =>
        {
            Game.ActiveScene.Components.GetAll<PanelComponent>().ToList().ForEach(p => p.Panel.Style.PointerEvents = PointerEvents.All);
        });
    }

    private void CopyDiscord()
    {
        Clipboard.SetText("https://discord.gg/GaGFHFttAC");
        Chatbox.Instance.AddLocalMessage("😊", $"Discord invite succesfully copied to clipboard!", "notification");
    }

    protected override int BuildHash() => HashCode.Combine(RealTime.GlobalNow);
}
