DonutHud {
    position: absolute;
    font-family: "Perfect DOS VGA 437 Win";
    width: 100%;
    height: 100%;
    z-index: 100;
    justify-content: space-between;
    font-smooth: never;
    pointer-events: all;

    > .left {
        position: relative;
        flex-direction: row;
        align-items: flex-end;
        flex-shrink: 0;
        width: 400px;
        padding: 20px;
        font-size: 24px;
        color: white;

        > .current-song {
            flex-direction: column;
            align-content: center;
        }
    }

    > .center {
        position: relative;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        width: 600px;
        margin-top: 50px;
        padding-bottom: 20px;
        font-size: 24px;
        color: white;

        .donut {
            cursor: pointer;
            width: 100%;
            height: 100%;
        }

        .leaderboard {
            flex-direction: column;
            height: 80%;
            width: 100%;
            overflow: scroll;
            align-items: center;
            background-color: blue;
            border-width: 2px;
            padding: 3px;

            .nav-bar {
                justify-content: space-evenly;
                align-items: center;
                align-content: center;
                font-size: 32px;
                flex-shrink: 0;
                flex-grow: 1;
                gap: 10px;

                IconPanel, i {
                    transition: all 0.2s ease-out;
                    cursor: pointer;

                    &:hover {
                        sound-in: "hover";
                        opacity: 0.5;
                    }

                    &:active {
                        sound-in: "select";
                    }
                }
            }

            .entries {
                flex-direction: column;
                width: 100%;
                font-size: 24px;
                flex-shrink: 0;
                flex-grow: 1;

                .entry {
                    justify-content: space-between;
                    gap: 5px;
                    width: 100%;
                    padding: 2.5px;
                    flex-shrink: 0;
                    flex-grow: 1;

                    .rank {
                        justify-content: flex-end;
                    }

                    .name {
                        flex-shrink: 0;
                        flex-grow: 1;
                        gap: 5px;

                        label {
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }
                    }

                    &.me {
                        background-color: rgba(white, 0.1);
                    }
                }
            }
        }
    }

    > .right {
        position: relative;
        flex-direction: column;
        flex-shrink: 0;
        width: 400px;
        padding: 20px;
        font-size: 24px;
        gap: 8px;

        > .bar {
            position: absolute;
            flex-direction: row;
            flex-grow: 1;
            color: white;
            bottom: 20px;
            right: 20px;
            align-items: center;

            SettingEntry {
                position: relative;
                flex-direction: column;
                margin-bottom: -10px;
            }

            .slidercontrol {
                gap: 0px;
                margin-top: 5px;
                margin-right: 5px;

                .inner {
                    .track {
                        margin: 0px;
                        position: relative;
                        border-radius: 0px;

                        .track-active {
                            border-radius: 0px;
                        }

                        .thumb {
                            background-color: blue;
                            border-color: white;
                            position: relative;
                            border-width: 2px;
                            border-radius: 0px;
                        }
                    }
                }
            }

            button {
                background-color: blue;
                border-width: 2px;
                padding: 8px;
                border-radius: 8px;
                cursor: pointer;
                flex-direction: column;
                transition: all 0.2s ease-out;
                text-align: center;
                justify-content: center;
                width: 200px;

                &:hover {
                    sound-in: "hover";
                    background-color: #333;
                }

                &:active {
                    sound-in: "select";
                }
            }

            > .IconPanel, i {
                position: relative;
                cursor: pointer;
                font-size: 32px;
                padding-left: 14px;
                padding-right: 14px;
                transition: all 0.2s ease-out;

                &:hover {
                    sound-in: "hover";
                    opacity: 0.5;
                }

                &:active {
                    sound-in: "select";
                }
            }

            .tooltip {
                justify-content: space-between;
                border-width: 2px;
                border-color: white;
                flex-direction: column;
                font-size: 24px;
                background-color: #555;
                color: #fff;
                position: absolute;
                bottom: 100%;
                opacity: 0;
                left: 50%;
                margin-left: -63px;
                transition: opacity 0.3s;
                box-shadow: 10px 10px 10px rgb( black, 0.75 );

                > .tail {
                    border-right: 2px;
                    border-bottom: 2px;
                    border-color: white;
                    transform: rotateZ(45 deg);
                    top: 98.9%;
                    left: 50%;
                    position: absolute;
                    background-color: #555;
                    width: 10px;
                    height: 10px;
                    overflow: hidden;
                }
            }

            .settings {
                button {
                    width: 150px;
                }

                position: relative;
                z-index: 200;

                .tooltip {
                    width: 300px;
                    left: -100%;
                }

                &:hover .tooltip {
                    opacity: 1;
                }
            }

            .color-picker {
                position: relative;
                z-index: 200;

                .tooltip {
                    width: 300px;
                    left: -100%;

                    .tail {
                        top: 92.5%;
                    }
                }

                &:hover .tooltip {
                    opacity: 1;
                }
            }

            SliderControl {
                flex-direction: row-reverse;
            }

            > .discord {
                cursor: pointer;
                height: 32px;
                width: 32px;
                padding-left: 14px;
                padding-right: 14px;
                transition: all 0.2s ease-out;
                background-image: url("ui/discord-mark-white.png");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                image-rendering: pixelated;

                &:hover {
                    sound-in: "hover";
                    opacity: 0.5;
                }

                &:active {
                    sound-in: "select";
                }
            }
        }

        > .player-list {
            flex-direction: column;
            gap: 10px;
            overflow: scroll;
            flex-grow: 1;

            > .player-entry {
                border-width: 2px;
                background-color: blue;
                flex-direction: row;
                justify-content: space-evenly;
                padding: 5px;
                align-items: center;
                align-content: center;
                overflow: hidden;
                transition: all 0.1s ease-out;
                color: white;
                flex-shrink: 0;

                IconPanel, i {
                    font-size: 24px;
                }

                .info-container {
                    flex-direction: row;
                    font-size: 24px;
                    flex-grow: 1;
                    align-items: center;
                    align-content: center;

                    .avatar {
                        min-width: 50px;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                    }

                    .info {
                        margin-left: 10px;
                        flex-direction: column;
                        font-size: 24px;
                        flex-grow: 1;
                    }
                }

                .kick {
                    cursor: pointer;
                    transition: all 0.2s ease-out;

                    &:hover {
                        sound-in: "hover";
                        opacity: 0.5;
                    }

                    &:active {
                        sound-in: "select";
                    }
                }
            }
        }
    }
}
