{
  "Version": 2,
  "Cursors": {
    "arrow": {
      "Image": "ui/cursors/arrow.png"
    },
    "hand": {
      "Image": "ui/cursors/hand.png"
    },
    "pointer": {
      "Image": "ui/cursors/pointer.png"
    },
    "ibeam": {
      "Image": "ui/cursors/ibeam.png"
    },
    "text": {
      "Image": "ui/cursors/ibeam.png"
    }
  },
  "__guid": "1b66c875-5b9c-434b-8ac2-f646ee5de37f",
  "__schema": "configdata",
  "__type": "CursorSettings",
  "__version": 2
}