{
  "Version": 2,
  "Mixers": {
    "Guid": "db158f4b-aa1d-4313-8010-a085e46ae006",
    "Name": "Master",
    "Volume": 1,
    "Mute": false,
    "Solo": false,
    "IsDefault": true,
    "Processors": [],
    "Children": [
      {
        "Guid": "44fcd9d8-9f33-44e4-b7ae-61180a111b73",
        "Name": "Music",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "dd43f852-ad72-41ad-be77-21f30e49c5ba",
        "Name": "UI",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "0d4260d1-85d4-4745-9240-204bf3dabb36",
        "Name": "Voice",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Processors": [],
        "Children": []
      }
    ]
  },
  "__guid": "350ba06e-dbf3-4cd4-ae88-d43bb03e827d",
  "__schema": "configdata",
  "__type": "MixerSettings",
  "__version": 2
}