@using Sandbox.UI
@inherits Panel
@namespace Donut.UI

<root class="@(Entry.Styles)">
    @if(Entry.SteamId != 0)
    {
        <img class="avatar" src="@($"avatar:{Entry.SteamId}")" />
    }
    <p class="name">@Entry.Name</p>
    <div class="message-content">
        <p class="message">@Entry.Message</p>
    </div>
</root>

@code
{
    public Chatbox.Entry Entry { get; set; }  
}
