label,
p {
    &.rainbow {
        animation-name: rainbowcycle;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}

.rainbow {
    > > .name {
        animation-name: rainbowcycle;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}

.notification {
    > > .name {
        position: relative;
        padding-left: 4px;
        padding-right: 5px;
        flex-shrink: 0;
        align-self: center;
        color: #CCF45A;
    }

    > > .message {
        white-space: normal;
    }
}

@keyframes rainbowcycle {
    0% {
        color: hsl(0, 100%, 75%);
    }

    20% {
        color: hsl(45, 100%, 75%);
    }

    40% {
        color: hsl(125, 100%, 75%);
    }

    60% {
        color: hsl(180, 100%, 75%);
    }

    80% {
        color: hsl(275, 100%, 75%);
    }

    100% {
        color: hsl(0, 100%, 75%);
    }
}

Chatbox {
    position: absolute;
    z-index: 100;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    font-family: "Perfect DOS VGA 437 Win";
    font-weight: 900;
    font-size: 24px;
    padding: 10px;
    max-height: 90%;
    height: 90%;
    pointer-events: all;
    font-smooth: never;

    .chat_canvas {
        flex-direction: column;
        justify-content: flex-end;
        flex-grow: 1;
        height: 100px;
        overflow: scroll;

        ChatEntry {
            &.fade {
                opacity: 0;
            }
        }
    }

    .input_canvas {
        flex-direction: row;

        &:hover {
            sound-in: "hover";
        }

        &:active {
            sound-in: "select";
        }

        textentry {
            background-color: black;
            color: white;
            background-color: rgba(black, 0);
            flex-shrink: 0;
            flex-grow: 1;
            white-space: pre-line;
            width: 100%;
            font-family: "Perfect DOS VGA 437 Win";
        }
    }

    &.open {
        background-color: rgba(black, 0.5);

        textentry {
            background-color: rgba(black, 0.5);
            backdrop-filter: blur(10px);

            .placeholder {
                opacity: 0;
            }
        }

        .chat_canvas {
            background-color: rgba(black, 0.25);

            ChatEntry {
                &.fade {
                    opacity: 1;
                }
            }
        }
    }
}

ChatEntry {
    color: white;
    font-smooth: never;
    transition: all 0.1s ease-out;
    opacity: 1;
    flex-shrink: 0;
    gap: 10px;
    padding: 5px;
    transform: scale(1);
    align-items: center;
    text-shadow: 0 0 4px black;

    &:intro {
        max-height: 0px;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;
        opacity: 0;
        transform: scale(0);
    }

    &:outro {
        opacity: 0;
    }

    .avatar {
        height: 52px;
        min-height: 52px;
        width: 52px;
        min-width: 52px;
        border-radius: 100%;
        text-shadow: 0 0 4px black;
    }

    .message-content {
        .name {
            position: absolute;
            color: #ccf45a;
        }

        .message {
            white-space: pre;
        }
    }

    &.is-lobby {
        .name {
            color: #ff80f5;
        }
    }

    &.notification {
        .message {
            color: #f5fa3c;
        }
    }
}
