Chatbox {
    position: absolute;
    z-index: 200;
    flex-direction: column;
    width: 400px;
    font-family: "Perfect DOS VGA 437 Win";
    font-size: 24px;
    padding: 10px;
    max-height: 90%;
    height: 90%;
    pointer-events: all;
    font-smooth: never;

    .chat_canvas {
        height: 95%;
        position: relative;
        justify-content: flex-end;
        flex-direction: column;
        flex-grow: 1;
        overflow: scroll;
    }

    .input_canvas {
        flex-grow: 1;
        flex-shrink: 0;
        position: relative;
        flex-direction: row;

        &:hover {
            sound-in: "hover";
        }

        &:active {
            sound-in: "select";
        }

        textentry {
            align-items: flex-end;
            justify-content: flex-end;
            background-color: black;
            color: white;
            background-color: rgba(black, 0);
            flex-shrink: 0;
            flex-grow: 1;
            white-space: pre;
        }
    }
}

ChatEntry {
    position: relative;
    background-color: black;
    color: white;
    font-smooth: never;
    flex-shrink: 0;
    gap: 10px;
    padding: 5px;
    align-items: center;

    .avatar {
        position: relative;
        height: 52px;
        min-height: 52px;
        width: 52px;
        min-width: 52px;
        border-radius: 100%;
        text-shadow: 0 0 4px black;
    }

    .message-content {
        position: relative;

        .name {
            position: absolute;
            color: #ccf45a;
        }

        .message {
            position: relative;
            white-space: pre;
        }
    }

    &.rainbow {
        .message-content {
            .name {
                animation-name: rainbowcycle;
                animation-duration: 4s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
            }
        }
    }

    &.notification {
        .message-content {
            .name {
                position: relative;
                padding-left: 4px;
                padding-right: 5px;
                flex-shrink: 0;
                align-self: center;
                color: #CCF45A;
            }

            .message {
                color: #f5fa3c;
                white-space: normal;
            }
        }
    }
}

@keyframes rainbowcycle {
    0% {
        color: hsl(0, 100%, 75%);
    }

    20% {
        color: hsl(45, 100%, 75%);
    }

    40% {
        color: hsl(125, 100%, 75%);
    }

    60% {
        color: hsl(180, 100%, 75%);
    }

    80% {
        color: hsl(275, 100%, 75%);
    }

    100% {
        color: hsl(0, 100%, 75%);
    }
}
