@using Sandbox.UI
@inherits Panel
@namespace Donut.UI

<root class="@(Entry.Styles)">
    @if (Entry.SteamId != 0)
    {
        <img class="avatar" src=@($"avatar:{Entry.SteamId}") />
    }
    <div class="message-content">
        <p class="name">@Entry.Name</p>
        @*HACK: inline is not supported yet, so offset the message with the lenght of the username.*@
        <p class="message">@( new string( ' ', Entry.Name.Length + 1 ) + Entry.Message )</p>
    </div>
</root>

@code
{
    public Chatbox.Entry Entry { get; set; }
}
